/* .image {
    position: relative;
    width: 100%;
}

.background {
    width: 100%;
    display: block;
    z-index: -10;
} */
html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.image {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.background {
    width: 100%;
    height: auto;
    display: block;
}

.placement {
    position: absolute;
    left: 0;
    top: 0%;
    width: 100%;
    z-index: 2;
    transition: transform 0.3s ease;
    cursor: pointer;

    transform-origin: center;
}

.droite {
    position: absolute;
    left: 0;
    top: 0%;
    width: 100%;
    z-index: 2;
    transition: transform 0.3s ease;
    cursor: pointer;

    transform-origin: right 90%;
}

.objet {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 3;
    cursor: pointer;

    transform-origin: center 10%;
}

.placement:hover {
    transform: scale(1.03);
    filter: drop-shadow(0 10px 35px #741A29);
}


.droite:hover {
    transform: scale(1.04);
    filter: drop-shadow(0 10px 35px #741A29);
}

.objet:hover {
    transform: scale(1.01);
    filter: drop-shadow(0 10px 35px #741A29);
}

.hidden {
    display: none;
}











.container {
    position: relative;
    width: 800px;
    margin: auto;
}

.container img {
    width: 100%;
    display: block;
}

.marker {
    position: absolute;
    width: 10px;
    height: 10px;
    background: red;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

.coords {
    margin-top: 20px;
    font-family: monospace;
}